.imagen img{
    width: 25%;
}
.imagen{
    text-align: -webkit-center;
    margin-top: 100px;
    margin-bottom: 40px;
    font-weight: bold;
}
.content{
    min-height: 400px;
    background-image: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;
    position: fixed;
    height:100%;
    width:100%;
}
